.card-movie-count {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: #ffffff; /* Background color of the badge */
  color: #333; /* Text color */
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.card-img-left {
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
}

/* Ensures all cards are of equal height */
.equal-height-card {
  display: flex;
  flex-direction: column;
}

.equal-height-card .card-body {
  flex-grow: 1; /* Allows the card body to expand to fill available space */
}
