.card-movie-count {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: #ffffff; /* Background color of the badge */
  color: #333; /* Text color */
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem;
}
